@font-face {
    font-family: roboto-italic;
    src: url("fonts/Roboto-Italic.ttf") format(truetype);
    font-weight: 200 ;
}

@font-face {
    font-family: roboto;
    src: url("fonts/Roboto-Regular.ttf") format(truetype);
    font-weight: 400 ;
}


@font-face {
    font-family: roboto;
    src: url("fonts/Roboto-Medium.ttf") format(truetype);
    font-weight: 500 ;
}

@font-face {
    font-family: roboto-italic;
    src: url("fonts/Roboto-MediumItalic.ttf") format(truetype);
    font-weight: 500 ;
}

@font-face {
    font-family: roboto;
    src: url("fonts/Roboto-SemiBold.ttf") format(truetype);
    font-weight: 600 ;
}

@font-face {
    font-family: roboto-italic;
    src: url("fonts/Roboto-SemiBoldItalic.ttf") format(truetype);
    font-weight: 600 ;
}


@font-face {
    font-family: roboto-roboto-italic;
    src: url("fonts/Roboto-ExtraBoldItalic.ttf") format(truetype);
    font-weight: 800 ;
}


@font-face {
    font-family: roboto;
    src: url("fonts/Roboto-ExtraBold.ttf") format(truetype);
    font-weight: 800 ;
}